<div class="container">

    <h1 *ngIf="rdv.id == undefined">Ajouter un rdv</h1>
    <h1 *ngIf="rdv.id != undefined">Editer un rdv</h1>
    <hr>

    
    <div class="alert alert-danger" *ngIf="errorMessage.length > 0">{{errorMessage}}</div>

    <form name="monForm" action="" method="post" (submit)="submit()">

        <div class="form-line mb-4">
            <label class="form-label">Patient *</label>
            <div id="cities-content">
                <select name="patient" id="patient" required class="form-select" [(ngModel)]="rdv.patient" [compareWith]="checkPatient">
                    <option value="">Sélectionner un patient</option>
                    <option *ngFor="let patient of patients" [ngValue]="patient">
                        {{patient.prenom}} {{patient.nom}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-line mb-4">
            <label class="form-label">Date heure *</label>
            <input class="form-control" type="datetime-local" name="dateheure" placeholder="Date heure" required [(ngModel)]="rdv.dateheure">
        </div>
        <div class="form-line mb-4">
            <label>Durée *</label>
            <input class="form-control" type="number" name="duree" placeholder="Durée" required [(ngModel)]="rdv.duree">
        </div>

        <div class="form-line mb-4">
            <label class="form-label">Type</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineRadio1" value="consultation" [checked]="rdv.type=='consultation'" (change)="rdv.type='consultation'">
                <label class="form-check-label" for="inlineRadio1">Consultation</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineRadio2" value="contrôle" [checked]="rdv.type=='contrôle'" (change)="rdv.type='contrôle'">
                <label class="form-check-label" for="inlineRadio2">Contrôle</label>
            </div>
        </div>

        <div class="form-line mb-4">
            <label class="form-label">Note *</label>
            <textarea class="form-control" name="note" placeholder="Votre note" style="height: 100px" [(ngModel)]="rdv.note"></textarea>
        </div>


        <div class="form-line mb-4">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>

    </form>
</div>