<main class="container">

    <div class="alert alert-success" *ngIf="success">Opération effetuée avec succès</div>

    <h1>Liste des patients</h1>

    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        (click)="resetPatient()">Ajouter un patient</button>

    <form method="get" action="/patient">
        <div class="row my-4">
            <div class="col-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" placeholder="Rechercher"
                        aria-describedby="button-addon2" [(ngModel)]="search">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa fa-search"
                            aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary" (click)="reloadPatients()">Rechercher</button>
            </div>
        </div>
    </form>


    <div class="form-line mb-4">
        <label class="form-label">Recherche : </label>
        <input class="form-control" type="text" id="search_input" name="search" placeholder="nom/prenom du patient"
            th:oninput="|search('patient')|">
    </div>

    <div class="alert alert-success" *ngIf="patients.length == 0">Aucun patient trouvée</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom & prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Ville / Pays</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let patient of patients" class="patient">
                <td>{{patient.id}}</td>
                <td>{{patient.prenom}} {{patient.nom}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.telephone}}</td>
                <td>{{patient.villeId.nom}} - {{patient.paysCode.nom}}</td>
                <td>
                    <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        (click)="edit(patient.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="delete( patient.id)"><i class="fa fa-trash-o"
                            aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</main>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" *ngIf="patient.id == 0">Ajouter un patient</h5>
                <h5 class="modal-title" id="staticBackdropLabel" *ngIf="patient.id != 0">Editer un patient</h5>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form ngNativeValidate (submit)="addPatient()">
                <div class="modal-body">
                    <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
                        {{errorMessage}}
                    </div>
                    <div class="form-line mb-4">
                        <label class="form-label">Nom *</label>
                        <input class="form-control" type="text" name="nom" placeholder="Votre nom" required
                            [(ngModel)]="patient.nom">
                    </div>
                    <div class="form-line mb-4">
                        <label>Prénom *</label>
                        <input class="form-control" type="text" name="prenom" placeholder="Votre prénom" required
                            [(ngModel)]="patient.prenom">
                    </div>

                    <div class="form-line mb-4">
                        <label class="form-label">Date de naissance *</label>
                        <input class="form-control" type="date" name="naissance" placeholder="dd/mm/yyyy" required
                            [ngModel]="patient.datenaissance | date:'yyyy-MM-dd'"
                            (ngModelChange)="patient.datenaissance = $event">
                    </div>

                    <div class="form-line mb-4">
                        <label class="form-label">Adresse *</label>
                        <input class="form-control" type="text" name="adresse" placeholder="Votre adresse" required
                            [(ngModel)]="patient.adresse">
                    </div>

                    <div class="form-line mb-4">
                        <label class="form-label">Email *</label>
                        <input class="form-control" type="email" name="email" placeholder="Votre email" required
                            [(ngModel)]="patient.email">
                    </div>

                    <div class="form-line mb-4">
                        <label class="form-label">Téléphone *</label>
                        <input class="form-control" type="text" name="telephone" placeholder="Votre numéro de téléphone"
                            required [(ngModel)]="patient.telephone">
                    </div>


                    <div class="form-line mb-4">
                        <label class="form-label">Ville *</label>
                        <div id="cities-content">
                            <select class="form-select" name="ville" required id="ville" [(ngModel)]="patient.villeId"
                                [compareWith]="compareVille">
                                <option *ngFor="let ville of villes" [ngValue]="ville">{{ville.nom}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>