/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body {
    padding-bottom: 50px
}

/*.alert {
    position: fixed;
    width: 30%;
    left: 35%;
    text-align: center;
}*/

.dropdown img {
    max-width: 66px;
    border-radius: 50%;
}

.dropdown * {
    border: 0 none;
}

#user-welcome{
    width: 300px;
}